body {
    font-family: 'Shantell Sans', cursive;
    margin: 0;
    /* margin-bottom: 40px; */
}

h1 {
    font-size: 50px;
}

.orange {
    color: orange;
}

.flexible-area {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 5%;
    margin-bottom: 100px;
}

.half-width img {
    width: 80%;
    margin-top: 10px;
}

.link-btn {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 600;
    border-radius: 5px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.mid-sec {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.box-baby {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px gray;
    padding-left: 20px;
    border-radius: 10px;
}

.baby {
    font-size: 40px;
}

.experience {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#Full {
    border-left: 7px solid tomato;
}

#Stack {
    border-left: 7px solid blue;
}

footer p {
    color: gray;
    text-align: center;
    margin-top: 30px;
}